.main-section {
   
}

.search-container {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#light .search-container {
    background-color: grey;
}

#dark .search-container {
    background-color: azure;
}