$main-font: "Poppins", sans-serif;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

#light {
  background: url(./assets/images/light-background.jpg) no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: #4c7088;
  color: #03576F;

  button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #bfeaf1;
    transition: ease-in-out 0.5s;

    img {
      background-color: #bfeaf1;
    }
  }

  button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

#dark {
  background: url(./assets/images/dark-background.jpg) no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: #4c7088;
  color: #fff;

  button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #03576F;
    transition: ease-in-out 0.5s;

    img {
      background-color: #03576F;
    }
  }

  button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.switch {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;

  img {
    width: 35px;
  }
}
