$main-font: "Poppins", sans-serif;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.switch {
  display: flex;
  height: 100px;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 4rem;

  h1 {
    font-style: italic;
    margin-left: 1rem;
    font-weight: 300;
  }

  button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    margin-right: 1rem;
  }

  img {
    width: 50px;
  }
}

#light {
  background: url(./assets/images/light-background.jpg) no-repeat;
  background-color: #b9e8f2;
  min-height: 100vh;
  color: #03576f;

  button {
    background-color: #B1E1ED;

    img {
      background-color: #B1E1ED;
    }
  }

  button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

#dark {
  background: url(./assets/images/dark-background.jpg) no-repeat;
  background-color: #02050c;
  min-height: 100vh;
  color: #fff;

  button {
    background-color: #004F70;

    img {
      background-color: #004F70;
    }
  }

  button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
